html{
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    background-color: lightblue;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
input{
    padding-right: 200px;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;

}
td{
    padding: 0px;
    background-color: #D7D2F7;
    border-color: black;
    
}
table{
    background-color: black; 
    width: 650px;
    font-size: larger;
    margin-top: 20px;
}
th{
    background-color: #8279F7;
    padding:  0px;
}
